
<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{title}} - Welcome to Yikes! 欢迎来到一刻！</title>
    {% else %}
    <title>Welcome to Yikes! 欢迎来到一刻！</title>
    {% endif %}
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/fontdiao.css" />
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/vendor/custom.modernizr.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="/static/js/moment.min.js"></script>
    <meta property="wb:webmaster" content="3c04dcdad0122b9d" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>




    <nav class="top-bar" style="margin-bottom: 0em">
      <ul class="title-area">
        <li class="name">
          <h1><a href="{{ url_for('index')}}">Yikes </a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      {% if g.user.is_authenticated() %}
      <section class="top-bar-section">
        <ul class="left">
        <li class="divider"></li>
        <li><a href="{{ url_for('index') }}">首页</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('user', nickname = g.user.nickname) }}">个人信息</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('social') }}">我的好友</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('notice') }}">通知中心 {% if g.user.incoming_requests().count() > 0 %} ({{ g.user.incoming_requests().count() }}) {% endif %} </a></li>
        <li class="divider"></li>
        </ul>
        <ul class="right">
          <li class="divider hide-for-small"></li>
          <li class="has-dropdown">
            <a href="#"><img style="width:20px; height:20px" src="{{g.user.avatar(20)}}"/>&nbsp;{{g.user.nickname}}</a>
              <ul class="dropdown">
                <li>
                  <a href="{{ url_for('settings') }}"><i class="icon-gear"></i> 账号设置</a>
                </li>
                <li class="divider"></li>
                <li><a href="{{ url_for('logout') }}"><i class="icon-signout"></i> 您慢走</a></li>
              </ul>
          </li>
        </ul>
      </section>
      {% endif %}
    </nav>
    <div class="row" style="background:#aaa;margin-bottom: 1.875em">{% include 'flash.html'%}
    </div>
    {% block content %}{% endblock %}
    <script>
    document.write('<script src=' +
    ('__proto__' in {} ? 'static/js/vendor/zepto' : 'static/js/vendor/jquery') +
    '.js><\/script>')
    </script>
    <script src="static/js/foundation/foundation.js"></script>
    <script src="static/js/foundation/foundation.alerts.js"></script>
    <script src="static/js/foundation/foundation.clearing.js"></script>
    <script src="static/js/foundation/foundation.cookie.js"></script>
    <script src="static/js/foundation/foundation.dropdown.js"></script>
    <script src="static/js/foundation/foundation.forms.js"></script>
    <script src="static/js/foundation/foundation.joyride.js"></script>
    <script src="static/js/foundation/foundation.magellan.js"></script>
    <script src="static/js/foundation/foundation.orbit.js"></script>
    <script src="static/js/foundation/foundation.placeholder.js"></script>
    <script src="static/js/foundation/foundation.reveal.js"></script>
    <script src="static/js/foundation/foundation.section.js"></script>
    <script src="static/js/foundation/foundation.tooltips.js"></script>
    <script src="static/js/foundation/foundation.topbar.js"></script>
    <script src="static/js/foundation/foundation.interchange.js"></script>
  <script>
    $(document).foundation();
  </script>
  </body>
  <footer>
  <div class="top-bar" style="background:#000;margin-bottom: 0em">
  <div style="text-align:right; margin-right: 0.5em">
    <a href="mailto:tiotaocn@gmail.com"><small>Report a Bug</small></a>&nbsp;&nbsp;<small style="color: #fff"><i class="icon-cloud"></i>  Written by Tiotao, inspired by 娘炮 and 小夫, 2013</small>
  </div>
  </div>
  </footer>
</html>
