
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row" style="background-color:white;">
    <div class="small-10 small-centered columns"><h1 style="margin-bottom: 0em">Hi, {{g.user.nickname}}!</h1></div>
</div>
<div class="row">
    <div class="small-10 small-centered columns">
        <div class="row">
            <div class="small-12 large-8 columns">
                <div class="standard-content"> 
                    <h5 style="color:#444"><a href="{{ url_for('user', nickname = g.user.nickname) }}" style="color:#444"><i class="icon-home icon-large"></i>
                     个人信息
                    </a>
                    </h5>
                    <p style="color:#444">阅览您的个人资料、借还款历史及基友</p>
                    <h5 style="color:#444"><a href="{{ url_for('social') }}" style="color:#444"><i class="icon-heart icon-large"></i>
                     我的基友</a>
                    </h5>
                    <p style="color:#444">成功添加了新的基友后就能向他们借钱了！</p>
                    <h5 style="color:#444"><a href="{{ url_for('notice') }}" style="color:#444"><i class="icon-envelope icon-large"></i>
                     通知中心</a>
                    </h5>
                    <p style="color:#444">查看最新搅基申请，只有通过对方的申请对方才能向你借钱哦！</p>
                </div>
            </div>
            <div class="small-12 large-4 columns" style="background-color: white">
                <div class="standard-content"> 
                    <form action="" method="post" name="amount">
                        {{form.hidden_tag()}}
                        <div class="row">
                            <div class="small-12 columns">
                                <h5 style="color:#fc0">你要翻谁的牌子呢？</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                {{ form.lender }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <h5 style="color:#fc0">要问TA借多少钱呢？</h5> 
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-12 columns {% if form.errors.amount %} error{% endif %}">
                                <div class="small-9 columns">
                                    {{ form.amount(size = 30, maxlength = 140) }}
                                    {% for error in form.errors.amount %}
                                        <small>{{error}}</small>
                                    {% endfor %}
                                </div>
                                <div class="small-3 columns">
                                    <span class="postfix radius">.00 软妹币</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <input class="button" style="background: #fc0; margin-top: 0.5em;" type="submit" value="好的">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
       
    </div>
</div>

<div class="row" style="background-color:#fc0;">
    <div class="small-10 small-centered columns">
        <div class="row">
            <div class="small-12 columns">
                <div class="standard-content"> 
                <i class="icon-circle-arrow-down icon-4x" style="color:white;"><span style="font-size:0.5em; display:inline-block; vertical-align:middle; padding-left:0.5em; margin-top:-0.5em">负债</span></i></div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="standard-content"> 
                    {% for record in borrow_records %}
                        {% include 'record_borrow.html' %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color:#00ADFF;">
    <div class="small-10 small-centered columns">
        <div class="row">
            <div class="small-12 columns">
                <div class="standard-content"> 
                <i class="icon-circle-arrow-up icon-4x" style="color:white;"><span style="font-size:0.5em; display:inline-block; vertical-align:middle; padding-left:0.5em; margin-top:-0.5em">借出</span></i></div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="standard-content"> 
                {% for record in lend_records %}
                        {% include 'record_lend.html' %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock %}