
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<script>
    $(window).load(function(){
        $('#RecordsTab a[href="#borrow"]').tab('show');
    });
</script>


<h1>Hi, {{g.user.nickname}}!</h1>
{% include 'flash.html' %}
<div class="well">
    <form class="form-horizontal" action="" method="post" name="amount">
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.amount %} error{% endif %}">
            <label class="control-label" for="amount">From:</label>
            <div class="controls">
                {{ form.lender }}
                 borrow 
                {{ form.amount(size = 30, maxlength = 140) }}
                RMB
                {% for error in form.errors.amount %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Borrow!">
            </div>
        </div>
    </form>
</div>

<div id="records-content">
  <ul class="nav nav-pills" id = "RecordsTab">
    <li><a class = "active" href = "#borrow">Borrow</a></li>
    <li><a href = "#lend">Lend</a></li>
  </ul>
    <div class = "tab-content">
        <div class = "tab-pane active" id = "borrow">
            {% for record in borrow_records.items %}
                {% include 'record.html' %}
            {% endfor %}

            <ul class="pager">
                {% if borrow_records.has_prev %}
                <li class="previous"><a href="{{ url_for('index', page = borrow_records.prev_num) }}">Newer Records</a></li>
                {% else %}
                <li class="previous disabled"><a href="#">Newer Records</a></li>
                {% endif %}
                {% if borrow_records.has_next %}
                <li class="next"><a href="{{ url_for('index', page = borrow_records.next_num) }}">Older Records</a></li>
                {% else %}
                <li class="next disabled"><a href="#">Older Records</a></li>
                {% endif %}
            </ul>
        </div>
        <div class = "tab-pane" id = "lend">
            {% for record in lend_records.items %}
                {% include 'record.html' %}
            {% endfor %}

            <ul class="pager">
                {% if lend_records.has_prev %}
                <li class="previous"><a href="{{ url_for('index', page = lend_records.prev_num) }}">Newer Records</a></li>
                {% else %}
                <li class="previous disabled"><a href="#">Newer Records</a></li>
                {% endif %}
                {% if lend_records.has_next %}
                <li class="next"><a href="{{ url_for('index', page = lend_records.next_num) }}">Older Records</a></li>
                {% else %}
                <li class="next disabled"><a href="#">Older Records</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <script>

        $('#RecordsTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>
</div>



{% endblock %}