
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row" style="background-color:white;">
    <div class="small-10 small-centered columns">
        <div class="row">
            <div class="small-12 columns">
                <h1>二维码</h1>
                <h6 class="subheader">您可以生成固定数额的借款二维码，对方只需要扫描二维码即可借钱，并自动添加好友。</h6>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                    <form action="" method="post" name="amount">
                        {{form.hidden_tag()}}
                        <div class="row" style="width:20em; margin-top:1em">
                                <div class="small-12 large-9 columns{% if form.errors.search %} error{% endif %}">
                                    {{ form.amt(size = 30, maxlength = 140) }}
                                    {% for error in form.errors.amt %}
                                        <small>{{error}}</small>
                                    {% endfor %}
                                </div>
                                <div class="small-6 large-3 columns">
                                    <input class="button prefix" style="border: none; background: #E09729; " type="submit" value="生成">
                                </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

{% if not imgurl == None %}
<div class="row" style="background-color:#E09729;">
    <div class="small-10 small-centered columns">
        <div class="row">
            <div class="small-12 columns">
                <div class="standard-content"> 
                <i class="icon-qrcode icon-4x" style="color:white;"><span style="font-size:0.5em; display:inline-block; vertical-align:middle; padding-left:0.5em; margin-top:-0.5em">生成的二维码</span></i></div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="standard-content"> 
                <img src="{{imgurl}}" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}