<table width="100%" style="border:none">
    <tr>
        <td valign = "middle" width="50px"><a href="{{url_for('user', nickname = record.borrows.nickname)}}"><img style="width:34px; height:34px" src="{{record.borrows.avatar(50)}}" /></a>
        </td>
        <td valign = "middle">
            <a href="{{url_for('user', nickname = record.borrows.nickname)}}">{{record.borrows.nickname}}</a> 总共欠你
            <i class="icon-yen"> <b> {{record.amount}}</b> </i>  
        </td>
        <td align="right" valign="bottom">
            <span style="color:#00ADFF; font-size:0.3em"><i class="icon-time"> {{momentjs(record.timestamp).calendar()}} </i></span>
        </td>
    </tr>
</table>