<table width=100% style="border:none">
    <tr>
        <td valign = "middle" width="50px"><a href="{{url_for('user', nickname = request.sends.nickname)}}"><img style="width:34px; height:34px" src="{{request.sends.avatar(50)}}" /></a>
        <td valign = "middle" width="40%">
            <a href="{{url_for('user', nickname = request.sends.nickname)}}">{{request.sends.nickname}}</a> 想要成为你的基友  
        </td>
        <td align = "left">
        {% include 'request_response.html' %}
        </td>
        <td align="right" valign="bottom">
            <span style="color:#00ADFF; font-size:0.3em"><i class="icon-time"> {{momentjs(request.timestamp).calendar()}} </i></span>
        </td>
    </tr>
</table>