<table class="table table-hover">
    <tr>
        <td valign = "middle" width="50px"><a href="{{url_for('user', nickname = request.sends.nickname)}}"><img src="{{request.sends.avatar(50)}}" /></a>
        </td>
        <td valign = "middle">
            <a href="{{url_for('user', nickname = request.sends.nickname)}}">{{request.sends.nickname}}</a> requests to be your friend
            {% include 'request_response.html' %}
            <p class="muted"><small>{{request.timestamp}}</small></p>
        </td>
    </tr>
    <tr>
         
    </tr>
</table>


