
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row" style="background-color:white; margin-bottom:0.5em">
    <div class="small-10 small-centered columns">
        <div class="row">
            <div class="small-12 columns">
                <h1>账号设置</h1>
                <h6 class="subheader">此处可修改自己的个人资料或者管理关联账户。</h6>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
            </div>
        </div>
    </div>
</div>


<div class="row" style="background-color:#4FB99B;">
    <div class="small-10 small-centered columns">
        <div class="row">
            <div class="small-12 columns">
                <div class="standard-content"> 
                <i class="icon-edit-sign icon-4x" style="color:white;"><span style="font-size:0.5em; display:inline-block; vertical-align:middle; padding-left:0.5em; margin-top:-0.5em">修改个人资料</span></i></div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="standard-content"> 
                    <form action="" method="post" name="amount">
                        {{edit_form.hidden_tag()}}
                        <div class="row collapse">
                            <div class="small-12 columns{% if edit_form.errors.nickname %} error{% endif %}">
                                <div class="small-12 large-5 columns">
                                    <p style="color:white">用户名：</p>
                                    {{ edit_form.nickname(maxlength = 64, class = "span4") }}
                                    {% for error in edit_form.errors.nickname %}
                                        <small>{{error}}</small>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row collapse">
                            <div class="small-12 columns{% if edit_form.errors.about_me %} error{% endif %}">
                                <div class="small-12 large-5 columns">
                                    <p style="color:white">关于我：</p>
                                    {{ edit_form.about_me(cols = 64, rows = 4, class = "span4") }}
                                    {% for error in edit_form.errors.about_me %}
                                        <small>{{error}}</small>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="small-12 columns">
                                <input class="button" style="background:#30A08E; margin-top: 0.5em;margin-bottom: 0em" type="submit" value="好的">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="background-color:#30A08E;">
    <div class="small-10 small-centered columns">
        <div class="row">
            <div class="small-12 columns">
                <div class="standard-content"> 
                <i class="icon-link icon-4x" style="color:white;"><span style="font-size:0.5em; display:inline-block; vertical-align:middle; padding-left:0.5em; margin-top:-0.5em">关联账户</span></i></div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="standard-content"> 
                    {% if g.user.weibo_id %}
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="#" class="button disabled" style="background: #fff; margin-top: 0.5em; color:#30A08E"><i class="icon-weibo icon-large"></i>&nbsp;&nbsp;新浪微博 已关联</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="{{sina_url}}" class="button" style="background: #fff; margin-top: 0.5em; color:#30A08E"><i class="icon-weibo icon-large"></i>&nbsp;&nbsp;新浪微博 关联</a>
                        </div>
                    </div>
                    {% endif %}

                    {% if g.user.facebook_id %}
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="#" class="button disabled" style="background: #fff; margin-top: 0.5em; color:#30A08E"><i class="icon-facebook-sign icon-large"></i>&nbsp;&nbsp;Facebook 已关联</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="{{ url_for('login_facebook') }}" class="button" style="background: #fff; margin-top: 0.5em; color:#30A08E"><i class="icon-facebook-sign icon-large"></i>&nbsp;&nbsp;Facebook 关联</a>
                        </div>
                    </div>
                    {% endif %}

                    {% if g.user.alipay_id %}
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="#" class="button disabled" style="background: #fff; margin-top: 0.5em; color:#30A08E"><i class="icon-shield icon-large"></i>&nbsp;&nbsp;支付宝 已关联</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="#" class="button" style="background: #fff; margin-top: 0.5em; color:#30A08E"><i class="icon-shield icon-large"></i>&nbsp;&nbsp;支付宝 关联</a>
                        </div>
                    </div>
                    {% endif %}

                    {% if g.user.renren_id %}
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="#" class="button disabled" style="background: #fff; margin-top: 0.5em; color:#30A08E"><i class="icon-renren icon-large"></i>&nbsp;&nbsp;人人网 已关联</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="small-12 columns">
                            <a href="#" class="button" style="background: #fff; margin-top: 0.5em; color:#30A08E"><i class="icon-renren icon-large"></i>&nbsp;&nbsp;人人网 关联</a>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color:#00ADFF;">
    <div class="small-10 small-centered columns">
       
    </div>
</div>

{% endblock %}