
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div id="edit" class="reveal-modal small">
    {% include 'edit.html' %}
</div>


<div class="row" style="background-color:white;">
    <div class="small-10 small-centered columns"><h1 style="margin-bottom: 0em">{{user.nickname}}</h1></div>
</div>
<div class="row">
    <div class="small-10 small-centered columns">
        <div class="row">
            <div class="small-8 columns">
                <div class="standard-content"> 
                    <h5 style="color:#444">
                    关于我:
                    </h5>
                    <p style="color:#444">{% if user.about_me %}{{user.about_me}}{% else %}暂无{% endif %}</p>
                    <h5 style="color:#444">
                    基友:
                    </h5>
                    <p style="color:#444">{{user.valid_friends_number() - 1}}</p>
                    {% if user.id == g.user.id %}
                    <a href="#" data-reveal-id="edit"><i class="icon-edit-sign"></i> 修改个人资料</a>
                    {% else %}
                        {% if not g.user.is_valid_friend(user) %}
                            {% if g.user.is_following(user) %}
                                <i style="color:#666" class="icon-plus-sign-alt"> 等待对方回复</i>
                            {% else %}
                                <a href="{{url_for('follow', nickname = friend.nickname)}}"><i class="icon-plus-sign-alt"></i> 发送搅基申请</a>
                            {% endif %}
                        {% else %}
                            <i style="color:#333" class="icon-heart"></i> 已有染</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="small-4 columns" style="background-color: white">
                <div class="standard-content"> 
                    <img align="right"src="{{user.avatar(120)}}" />
                </div>
            </div>
        </div>
        
       
    </div>
</div>

{% if user.id == g.user.id %}

<div class="row" style="background-color:#eee;">
    <div class="small-10 small-centered columns">
    <div class="standard-content"> 
        <div class="row">
            <div class="small-12 columns">
                <i class="icon-book icon-4x" style="color:#333;"><span style="font-size:0.5em; display:inline-block; vertical-align:middle; padding-left:0.5em; margin-top:-0.5em">历史记录</span></i>
            </div>
        </div>

        <div class="row">
            <div class="small-12 large-6 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="standard-content"> 
                        <i class="icon-circle-arrow-down icon-2x" style="color:#333;"><span style="font-size:0.5em; display:inline-block; vertical-align:middle; padding-left:0.5em; margin-top:-0.5em">负债</span></i></div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <div class="standard-content"> 
                            {% for record in borrow_records %}
                                {% include 'history_borrow.html' %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 large-6 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="standard-content"> 
                        <i class="icon-circle-arrow-up icon-2x" style="color:#333;"><span style="font-size:0.5em; display:inline-block; vertical-align:middle; padding-left:0.5em; margin-top:-0.5em">借出</span></i></div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <div class="standard-content"> 
                        {% for record in lend_records %}
                                {% include 'history_lend.html' %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endif %}

<div class="row" style="background-color:#aaa;">
    <div class="small-10 small-centered columns">
        <div class="row">
            <div class="small-12 columns">
                <div class="standard-content"> 
                <i class="icon-heart icon-4x" style="color:white;"><span style="font-size:0.5em; display:inline-block; vertical-align:middle; padding-left:0.5em; margin-top:-0.5em">好基友 ({{user.valid_friends_number() - 1}})</span></i></div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="standard-content"> 
                {% for friend in friends %}
                    {% if not friend.nickname == user.nickname %}
                        {% include 'friends.html' %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $(window).load(function(){
        $('#HistoryTab a[href="#borrow"]').tab('show');
    });

    $(window).load(function(){
        $('#SocialTab a[href="#friends"]').tab('show');
    });
</script>


{% include 'flash.html' %}



{% endblock %}
